@using StockToday
@page "/infocus"

@inject HttpClient Http

<h1>Stock Infocus</h1>


@if (companyInfos == null)
{
    <Loading></Loading>
}
else
{

    foreach (var companyInfo in companyInfos)
    {
        <CompanyStockDetail CompanyInfo="@companyInfo"></CompanyStockDetail>
    }
}

@functions {
CompanyInfo[] companyInfos;

protected override async Task OnInitAsync()
{
    companyInfos = await Http.GetJsonAsync<CompanyInfo[]>("https://api.iextrading.com/1.0/stock/market/list/infocus");
}
}
