
@page "/terms"
<h1>Terms</h1>
<div>
    This website is for educational purpose only. This is an implementation of an experimental <a href="http://blazor.net">Blazor</a> framework which is under development.
    We built the Stocks app using the stocks <a href="https://iextrading.com/apps/stocks/" target="_blank">IEX</a> endpoints and is an example of how this data can be used.
    The data provided here is sourced from <a href="https://iextrading.com/apps/stocks/" target="_blank">IEX</a>. We do not make any guarantees, representations or warranties as to the completeness or accuracy of the data provided.
    By viewing or using this data or information in any manner, you understand and acknowledge that such information does not reflect trading activity on markets other than Aurnab, as applicable, and is intended to provide you with a reference point only, rather than as a basis for making trading decisions.
</div>