@using StockToday.BlazorDb
@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
<a id="navToggleLink" href="#"><span data-toggle="tooltip" title="@_buttonToolTip" class="navicon oi @(_collapseNavMenu?"oi-caret-left navvisible":"oi-cog navinvisible")" onclick="@ToggleNavMenu"></span></a>
<div class="sidebar @(_collapseNavMenu?"show":"noshow")">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>

@functions {
    bool _collapseNavMenu = true;
    string _buttonToolTip = "Hide Navigation";

    void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
        _buttonToolTip = _collapseNavMenu ? "Hide Navigation" : "Show Navigation";
        BlazorDbInterop.SetItem("NavbarVisibility", _collapseNavMenu.ToString());
    }

    protected override async Task OnInitAsync()
    {
        var navbarVisibility = await BlazorDbInterop.GetItem("NavbarVisibility");
        if (!bool.TryParse(navbarVisibility, out _collapseNavMenu))
        {
            _collapseNavMenu = true;
        }
    }
}